html, body {
    margin:0;
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 200px;
    min-width: 200px;
}

.header {
    padding-top: 0;
    padding-bottom: 0;
    flex-shrink: 0;
    text-align: center;
}

.intro {
    font-size: 10px;
}

.notesdiv {
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden; 
}

.note {
    margin: 10px;
    border: 1px solid black;
}